.vacancies-page {
  .page-nav {
    bottom: unset;
    top: 41px;
    position: absolute;
  }
}

.vacancies {
  width: 100%;
  padding: 173px 36px 88px;
  position: relative;
  background: linear-gradient(180deg, #1F1F1F 0%, #020202 100%);

  .footer__bottom {
    bottom: 0;

  }

  &__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
      text-align: center;
      @include adaptive-font(88);
      font-weight: 700;
      line-height: .96;
      letter-spacing: -1.76px;
      text-transform: uppercase;
      margin-bottom: 32px;
      max-width: 950px;
    }

    p {
      max-width: 370px;
      color: #99999D;
      text-align: center;
      @include adaptive-font(16);
      font-weight: 500;
      line-height: 1.36;
      letter-spacing: -0.16px;
      margin-bottom: 56px;
    }
  }

  &__head {
    display: flex;
    justify-content: space-between;
    padding-bottom: 16px;

    span {
      color: #99999D;
      @include adaptive-font(14);
      font-weight: 700;
      line-height: 1.2;
      text-transform: uppercase;

      &:nth-child(2) {
        color: #F1F1F1;
      }
    }
  }

  &__grid {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    width: calc(33.3% - 8px);
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;

    &:not(:nth-child(3n + 3)) {
      margin-right: 12px;
    }
  }

  &__img {
    min-height: 520px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 12px;
    border-radius: 6px;
    overflow: hidden;

    > span {
      position: absolute;
      z-index: 1;
      top: 24px;
      text-align: center;
      @include adaptive-font(20);
      font-weight: 500;
      line-height: 1.08;
      letter-spacing: -0.6px;
      text-transform: uppercase;
    }

    img {
      width: 100%;
      height: 100%;
      object-position: center;
      object-fit: cover;
    }
  }
}