html,
body {
    min-width: 320px;
    background: #fff;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    max-width: 2560px;
    overflow-x: hidden;
}
