//Text
$c-text-primary: #F1F1F1;
$c-text-secondary: #99999D;


//Background
$c-bg-primary: #020202;


$animation-speed: 0.3s;

//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

$screen-min:              360px !default;

$screen-xs:               530px !default;
$screen-xs-min:           $screen-xs !default;
$screen-phone:            $screen-xs-min !default;

$screen-ph:               600px !default;

$screen-sm:               768px !default;
$screen-sm-min:           $screen-sm !default;
$screen-tablet:           $screen-sm-min !default;

$screen-md:               1024px !default;
$screen-md-min:           $screen-md !default;
$screen-desktop:          $screen-md-min !default;

$screen-lg:               1280px !default;
$screen-lg-min:           $screen-lg !default;
$screen-lg-desktop:       $screen-lg-min !default;

$screen-xl:               1600px !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:           ($screen-sm-min - 1) !default;
$screen-sm-max:           ($screen-md-min - 1) !default;
$screen-md-max:           ($screen-lg-min - 1) !default;

/* media queries breakpoints */
$breakpoints: (
  'phone': $screen-xs,
  'phablet': $screen-ph,
  'tablet': $screen-sm,
  'desktop': $screen-md,
  'widescreen': $screen-lg,
  'largescreen': $screen-xl
);