.main-slider {
  min-height: 100vh;
  width: 100%;

  .swiper-wrapper {
    @include media('>=tablet') {
      height: 100vh;
    }

    @include media('<tablet') {
      flex-direction: column;
    }
  }

  .swiper-slide {
    overflow: hidden;
    position: relative;
    text-align: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    padding: 32px;

    @include media('<tablet') {
      height: 300px;
      padding: 16px;
    }
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

    @include media('<tablet') {
      display: flex;
      align-items: center;

      &:after {
        content: '';
        width: 35px;
        height: 22px;
        background: url('../../img/btn-arr.svg') no-repeat center;
        background-size: contain;
        position: absolute;
        right: 16px;
      }

    }

    img {
      width: 100%;
      height: 100%;
      object-position: center;
      object-fit: cover;
    }

    video {
      height: 100%;
      width: 177.77777778vh; /* 100 * 16 / 9 */
      min-width: 100%;
      min-height: 56.25vw; /* 100 * 9 / 16 */
      position: absolute;
      left: 50%; /* % of surrounding element */
      top: 50%;
      transform: translate(-50%, -50%); /* % of current element */
    }
  }

  &__content {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__title {
    @include adaptive-font(32, 56);
    font-weight: 600;
    line-height: 1;
    letter-spacing: -1.12px;
    text-transform: uppercase;
    margin-bottom: 12px;

  }

  &__dsc {
    @include adaptive-font(12, 20);
    font-weight: 500;
    line-height: 1.2;

    @include media('>=tablet') {
      margin-bottom: 40px;
    }
  }

  .btn {
    @include media('<tablet') {
      display: none;
    }
  }

  &__tabs {
    position: absolute;
    bottom: 32px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;

    @include media('<tablet') {
      display: none;
    }

    ul {
      display: flex;
      align-items: center;

      li {
        &:not(:last-child) {
          margin-right: 32px;
        }

        button {
          color: #99999D;
          @include adaptive-font(16);
          font-weight: 700;
          line-height: 1.38;
          letter-spacing: -0.32px;
          transition: .3s ease-in-out;

          &.active {
            color: $c-text-primary;
          }

          @include hover() {
            color: $c-text-primary;
          }
        }
      }
    }
  }

  .swiper-pagination {
    z-index: 8;
  }

  .swiper-pagination-vertical.swiper-pagination-bullets, .swiper-vertical>.swiper-pagination-bullets {
    right: 32px;

    .swiper-pagination-bullet {
      border-radius: 10px;
      background: #303030;
      width: 2px;
      height: 56px;
      margin-bottom: 6px;
      opacity: 1;

      &.swiper-pagination-bullet-active {
        opacity: 1;
        background: #F1F1F1;
      }
    }
  }

}